################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleApplication/bin
/SampleApplication/obj/Debug/SampleApplication.csproj.CopyComplete
/SampleApplication/obj/Debug/SampleApplication.csproj.CoreCompileInputs.cache
/SampleApplication/obj/Debug/SampleApplication.dll
/SampleApplication/obj/Debug/SampleApplication.csproj.FileListAbsolute.txt
/SampleApplication/obj/Debug/SampleApplication.pdb
